 .home{
    height: calc(100vh - 70px);
 }
 .home .container .top-container{
          width: 100%;
          height:50vh;
          background-color: rgb(204, 125, 7);
          position: relative;
          overflow: hidden;

 }
 .home .container .top-container video{
  width: 100%;


}
 .home .container .top-container .video #video{

 width: 100%;
 position: absolute;
 top: -120px;

   
 }
@media screen and (max-width:760px) {
    .home .container .top-container{
        width: 100%;
        height:50vh;
        position: relative;
        overflow: hidden;
        }
        .home .container .top-container video{
            width: 100%;
        }
           .home .container .top-container .video #video{
           width: 100%;
           position: absolute;
           top: 0px;
        }
}
@media screen and (max-width:530px) {
    .home .container .top-container{
        width: 100%;
        height:40vh;
        overflow: hidden;
        }
    .home .container .top-container .video #video{
           width: 100%;  
    }
}
@media screen and (max-width:530px) {
    .home .container .top-container{
        width: 100%;
        height:30vh;
        overflow: hidden;
        }
}












 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* .home{
    height: calc(100vh - 70px);
   
}
.home .container{
    display: flex;
    height: 100%;
    width: 100%;
  
}
.home .container .left{
    flex: 0.7;
    overflow: hidden;
}
.home .container .left .img-container{
    width: 800px;
    height: 800px;
    background-color:crimson ;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* float: right; */
/* }  */
/* .home .container .left .img-container img{
    width:100% ;
}
.home .container .right{
    flex: 0.5;
    position: relative;
}
.home .container .right .text-r{
    height: 100%;
    padding-left:40px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.home .right .text-r h1{
    font-size: 50px ;
    margin: 0;
} 
.home .right .text-r h2{
    font-size: 40px;
    margin-bottom: 1px;
}
.home .right .text-r h3{
    font-size: 33px; margin-top:10px ;
}
.home .right .text-r h3 span{
    color: crimson;
    font-size: 30px;
}
.home .container .right a{
    position:absolute ;bottom: 39px;left: 70%;
}
.home .container .right a img{
     width: 50px;
     animation: arrowBlink 2s infinite;
}
@keyframes arrowBlink {
    100%{
        opacity: 0;
    }
}
@media screen and (max-width:1200px) {
    .home .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .home .container .left .img-container{
        width: 500px;
        height: 500px;
        background-color:crimson ;
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
} */