.home{
    height: calc(100vh - 70px);
    background-color: rgb(255, 255, 255);
}
.home .container{
    display: flex;
    height: 100%;
}
.home .container .left{
    flex: 0.5;
    overflow: hidden;
}
.home .container .left .img-container{
    width: 800px;
    height: 800px;
    background-color:crimson ;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    float: right;
}
.home .container .left .img-container img{
    width:100% ;
}
.home .container .right{
    flex: 0.5;
    position: relative;
    background-color: bisque;   
}
.home .container .right .text-r{
    width: 100%;
    height: 100%;
    padding-left:40px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home .right .text-r h1{
    font-size: 60px ;
    margin: 0;
} 
.home .right .text-r h2{
    font-size: 35px;
    margin-bottom: 10px;

}
.home .right .text-r h3{
    font-size: 30px;
    margin-top:10px ;
}
.home .container .right a{
    position:absolute ;
    bottom: 39px;
    left: 70%;
}
.home .container .right a img{
    width: 40px;
    animation: arrowBlink 2s infinite;
    
}
@keyframes arrowBlink {
    100%{
        opacity: 0;
    }
}
