body {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 68%; */
  transition: 1s;
}
.Sections{
 width: 100%;
 height: calc(100vh - 70px);
 background-color: aqua;
 position: relative;
 top: 70px;
 scroll-snap-type: y mandatory;
 z-index: -1;
}
*{
  /* width: 100vw; */
  /* height: calc(100 - 70px); */
  scroll-snap-align: start;
}