body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 68%;
  transition: 1s;
}
.Sections{
 width: 100%;
 height: calc(100vh - 70px);
 background-color: aqua;
 position: relative;
 top: 70px;
 scroll-snap-type: y mandatory;
 z-index: -1;
}
*{

  scroll-snap-align: start;
}